.xans-mall-faq .contents { padding:20px 0 0; color:#6d6d6d; line-height:20px; }

/********************* Mobile / Tablet *********************/
.layout_mobile .xans-mall-faq .contents { padding:20px 16px 0; }