<div data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain" data-ez="module-1ivl5b6-1"><meta name="naver-site-verification" content="bd36b251ee218cc8340ea42b4a63634bca35daed"></div>
<div class="main_top_banner ez-align-left" data-ez="contents-0287x2y-1" data-ez-align="left" data-ez-display="visible" data-ez-module="top-banner" data-ez-role="style.color">
 <div class="top_banner_box_inner">
  <div class="top_banner_text">
   <!-- 최상단 배너 수정하는곳 -->
   <a data-ez-role="a" data-href="#" href="#" style="color: rgb(255, 255, 255); font-weight: normal;" target="_self">
    첫 쇼핑을 지원하는 3,000원 할인 회원가입 쿠폰
   </a>
  </div>
  <!-- //top_banner_text -->
  <div class="top_banner_close" data-ez-role="close" style>
   <input data-ez-role="disable-term" id="top_banner_box_cloase" name="chkbox" type="checkbox" value="1">
   <label data-ez-role="disable-text" for="top_banner_box_cloase">
    오늘 하루 보지 않기
   </label>
   <i aria-hidden="true" class="icon icoClose">
    닫기
   </i>
  </div>
  <!-- //top_banner_close -->
 </div>
 <!-- //top_banner_box_inner -->
</div>
<header class="layout02" data-ez="contents-0848c54-1" data-ez-layout="layout02" id="header">
 <ez-prop data-version="1.0.0" type="layout">
  <ez-var data-namespace="ez.layout.header.layout" data-prop="layout" data-type="array">
   <ez-item data-id="layout01" data-name="1단 기본형">
   </ez-item>
   <ez-item data-id="layout04" data-name="1단 로고 우측형">
   </ez-item>
   <ez-item data-id="layout03" data-name="2단 좌측형">
   </ez-item>
   <ez-item data-id="layout02" data-name="2단 중앙형">
   </ez-item>
   <ez-item data-id="layout05" data-name="2단 슬라이딩 메뉴 노출형">
   </ez-item>
  </ez-var>
 </ez-prop>
 <div class="inner">
  <div class="toparea display_pc_only">
   <div class="toparea_shoppinginfo">
    <div module="Layout_multishopList">
     <button class="toggle" type="button">
      {$current_language}
      <i aria-hidden="true" class="icon icoArrowBottom">
      </i>
     </button>
     <ul module="Layout_multishopListitem">
      <li class="{$selected_class}">
       <a href="//{$shop_domain}/">
        {$locale_language}
       </a>
      </li>
      <li class="{$selected_class}">
       <a href="//{$shop_domain}/">
        {$locale_language}
       </a>
      </li>
     </ul>
    </div>
    <div data-ez-group="shopping-info" data-ez-role="list">
    </div>
   </div>
   <!-- //toparea_shoppinginfo -->
   <div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
    <a data-ez-item="join" href="/member/agreement.html" module="Layout_statelogoff" style>
     회원가입
    </a>
    <a data-ez-item="login" href="/member/login.html" module="Layout_statelogoff">
     로그인
    </a>
    <a data-ez-item="modify" href="/member/modify.html" module="Layout_stateLogon">
     정보 수정
    </a>
    <a data-ez-item="logout" href="{$action_logout}" module="Layout_stateLogon">
     로그아웃
    </a>
    <a data-ez-item="order" href="/myshop/order/list.html">
     주문 내역
    </a>
    <a data-ez-item="mypage" href="/myshop/index.html" module="Layout_stateLogon">
     마이페이지
    </a>
    <div class="toparea_state_board">
     <ul module="Layout_BoardInfo">
      <li>
       <a href="{$link_board_list}">
        {$board_name}
       </a>
      </li>
      <li>
       <a href="{$link_board_list}">
        {$board_name}
       </a>
      </li>
     </ul>
    </div>
   </div>
   <!-- //toparea_state -->
  </div>
  <!-- //toparea -->
  <div class="top_nav_box" id="top_nav_box">
   <div class="top_logo" module="Layout_LogoTop"><a href="/"><img src="{$logo}" alt="{$mall_name}"></a></div>
   <!-- //top_logo -->
   <div data-ez-mode="manual" data-ez-module="menu-main/1">
    <div class="xans-element- xans-layout xans-layout-category top_category">
     <ul>
      <li>
       <a href="/category/%EB%A7%90%EB%9E%91-%EB%B0%94%EC%82%AD-%EC%9B%90%EB%AC%BC-%EC%9C%A1%ED%8F%AC/42/">
        말랑 바삭 원물 육포
       </a>
      </li>
      <li>
       <a href="/category/%EC%B9%98%EC%84%9D-%EC%8B%B9-%EC%98%A4%EB%9E%98%EB%A8%B9%EB%8A%94-%EA%BB%8C/55/">
        든든한 오래먹는 껌
       </a>
      </li>
      <li>
       <a href="/category/%ED%8A%BC%ED%8A%BC-%EA%B4%80%EC%A0%88-%EB%BC%88-%EA%B0%84%EC%8B%9D/56/">
        오독오독 뼈·연골 간식
       </a>
      </li>
      <li>
       <a href="/category/%EB%A7%A4%EC%9D%BC-%EA%B1%B4%EA%B0%95-%ED%86%A0%ED%95%91-%EB%B6%84%EB%A7%90/57/">
        매일 건강 토핑 분말
       </a>
      </li>
      <li>
       <a href="/category/%EC%98%81%EC%96%91-%EA%B0%80%EB%93%9D-%EB%B9%84%EA%B1%B4-%EC%B9%A9/58/">
        영양 가득 비건 칩
       </a>
      </li>
      <li>
       <a href="/category/%EC%A7%80%EB%8A%A5%EB%B0%9C%EB%8B%AC-%EB%85%B8%EC%A6%88%EC%9B%8C%ED%81%AC/59/">
        지능발달 노즈워크
       </a>
      </li>
      <li>
       <a href="/category/BEST/67/">
        BEST
       </a>
      </li>
     </ul>
    </div>
   </div>
   <!-- //menu-main/1 -->
   <ul class="top_mypage">
    <li>
     <a href="/myshop/index.html" aria-label="마이페이지">
      <!--@import(/svg/icon-user.html)-->
     </a>
    </li>
    <li>
     <a href="/order/basket.html" module="Layout_orderBasketcount" aria-label="장바구니">
      <!--@import(/svg/icon-cart.html)-->
      <span class="count {$basket_count_display|display} {$basket_count_display_class}">
       <span class="{$basket_count_class}">
        {$basket_count}
       </span>
      </span>
     </a>
    </li>
    <li class="top_search">
     <button type="button" class="eSearch" aria-label="검색">
      <!--@import(/svg/icon-search.html)-->
     </button>
    </li>
    <li class="mo_nav">
     <button type="button" class="eNavFold" aria-label="메뉴">
      <i aria-hidden="true" class="icon icoNav">
      </i>
     </button>
    </li>
   </ul>
   <!-- //top_mypage -->
  </div>
  <!-- //top_nav_box -->
  <div module="Layout_SearchHeader">
   <!--
				$product_page=/product/detail.html
				$category_page=/product/list.html
			-->
   <fieldset>
    <legend>
     검색
    </legend>
    <div class="wrap_search_box">
     <div class="search_find_product">
      Find Product
     </div>
     <div class="top_search_box">
      <button class="btnClose" type="button">
       <img alt="닫기" src="/SkinImg/img/pc_search_close.svg">
      </button>
      {$form.keyword}
      <button class="btnDelete" type="button">
       삭제
      </button>
      <button class="btnSearch" onclick="{$action_search_submit}" type="button">
       <img alt="검색" src="/SkinImg/img/top_search.svg">
      </button>
      <ul class="autoDrop" id="{$search_auto_id}">
      </ul>
     </div>
     <!-- //top_search_box -->
    </div>
   </fieldset>
  </div>
  <!-- //Layout_SearchHeader -->
 </div>
 <!-- //inner -->
</header>
<!--#ez="1/2"-->